{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <title>Ethanbit</title>

	    <!-- Bootstrap -->
	    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="{%static 'ethanbit/css/ethanbit.css' %}">
	    <link rel="stylesheet" type="text/css" href="{%static 'ethanbit/css/ethanbit.sm.css' %}">
	    <link rel="shortcut icon" href="{% static 'ethanbit/img/favicon.ico' %}">
	    <link rel="stylesheet" href="{% static 'mathquill/mathquill.css' %}">
	    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	    <script type="text/javascript" src='{% static "jquery-2.2.0.min.js" %}'></script>
	    <script type="text/javascript" src='{% static "mathquill/mathquill.min.js" %}'></script>
	</head>
<body class='play'>
	<p>This is the playground, have fun</p>
	

	<script type="text/javascript" src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
	<script type="text/javascript" src='{% static "ethanbit/js/play.app.js" %}'></script>
</body>
</html>