{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>
	<head>
	    <title>Ethanbit - Registrar</title>
	    {% include "ethanbit/headers.html" %}
	    <!-- // <script src='https://www.google.com/recaptcha/api.js'></script> -->
	</head>
<body class='registrar'>
	<div class="registrar-panel">
		<div class="wrapper">
			<nav class="registrar-switch eb-navigator" data-target='#controls'>
				<a class="registrar-nav eb-navigator-tab" id='sign-in'>SIGN IN</a>
				<a class="registrar-nav eb-navigator-tab" id='sign-in'>SIGN UP</a>
				<div class="eb-navigator-underline"></div>
			</nav>
			<div class="view-port">
				<div class="pages" id='controls'>
					<div class="login-controls" id='signin-controls'>
						<input class="form-control eb-form-control eb-input-view user" placeholder="USERNAME/EMAIL"></input>
						<input class="form-control eb-form-control eb-input-view pass" placeholder="PASSCODE" type='password'></input>
						<button class="eb-form-submit">CONTINUE</button>
						<button class="eb-form-button">Forgot passcode?</button>
					</div>
					<div class="login-controls" id='signup-controls'>
						<input class="form-control eb-form-control eb-input-view email" placeholder="EMAIL" type='email'></input>
						<input class="form-control eb-form-control eb-input-view user" placeholder="USERNAME"></input>
						<input class="form-control eb-form-control eb-input-view pass" placeholder="PASSCODE" type='password'></input>
						<input class="form-control eb-form-control eb-input-view pass" placeholder="RE-ENTER PASSCODE" type='password'></input>
						<button class="eb-form-submit">SUBMIT</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "ethanbit/common_js_includes.html" %}
	<script type="text/javascript" src='{% static "ethanbit/js/registrar.app.js" %}'></script>
</body>
</html>